
.defaultPhoto {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 320px;
  height: 100%;
  background-color: #CCCCCC;
}

.outer {
  overflow: hidden;
  margin: 10px 15px 10px 15px;
  width: 288px;
  height: 100%;
  position: relative;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  background-color: white;
}

.inner1 {
  float: left;
  height: 70px; 
  width: 40%;
}

.inner2 {
  float: left;
  height: 68px;
  width: 60%;
  border-bottom: 1px solid gray;
}

.inner3 {
  float: left;  
  height: 35px;
  width: 100%;
}

.sale {
  font-family: Helvetica;
  text-align: center;
  margin-left: 15px;
  margin-top: 5px;
  height: 20px; 
  width: 50px;
  float: right;  
  color: white;
  border-radius: 5px;
  background-color: #BF1E2E;
  font-size: 15px;
}

.minPrice {
  font-family: Helvetica;
  float: right;  
  margin-top: 5px;
  margin-left: 5px;
  line-height: 20px;
}

.maxPrice {
  font-family: Helvetica;
  float: right;  
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 20px;
}

.yelpRating {
  width: 30%;
  margin-top: 5px;
  margin-left: 3px;
  float: left;    
}

.yelpLogo {
  float: left;
}

.dash {
  margin-top: 4px;
  margin-left: 5px;
  float: right;  
}

.name {
  white-space: nowrap;
  line-height: 90%
  font-family: Helvetica;
  margin: 2px;
  display: inline-block;
}

.serviceName {
  font-family: Helvetica;
  display: inline-block;
  margin: 2px;
}

.nextAppointment {
  font-family: Helvetica;
  display: inline-block;
  margin: 2px;
}

h4 {
  font-weight: normal;
}

.topMargin {
  float: left;
  height: 10px;
  width: 100%;
}

.filter {
  text-align: center;
  vertical-align: middle;
  line-height: 40px; 
  height: 40px;
  width: 158px;
  float:left;
  border: 1px solid #CCCCCC;
  background-color: white;
  font-family: Helvetica;  
  color: #319FB5;
}

.map {
  text-align: center;
  vertical-align: middle;
  line-height: 40px; 
  font-family: Helvetica;
  height: 40px;
  width: 158px;
  float:left;
  border: 1px solid #CCCCCC;  
  background-color: white;  
  color: #319FB5;  
}

input { 
  font-family: Helvetica;
  border-radius: 5px;
  width: 275px;  
  height: 30px;
  margin-left: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 25px;
  background-color: #CCCCCC;
}

.inputForm {
  background-color: white;
  border: 1px solid #CCCCCC;    
}

::-webkit-input-placeholder {
  line-height: 13px;
  color: #4F4F4F;
  font-size: 15px;
  font-family: Helvetica;  
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-image: url(//d2sx8fj3ha7ai7.cloudfront.net/assets/xresponsive-layout-sd23765e32a-6a94f0695a5cce711733468955b09a7b.png.pagespeed.ic.8-XxdMdsJq.png);
  background-position: 0 -290px;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 20px;
  left: 25px;
}

input[type="text"]
{
  font-size: 15px;
}
